<?xml version="1.0" encoding="UTF-8" ?>
<taglib 
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_1.xsd"
    version="2.1">

    <display-name>Custom Functions</display-name>    
    <tlib-version>1.0</tlib-version>

    <function>
        <name>getDiff</name>
        <function-class>es.kazbeel.geckobugtracker.web.utils.Utils</function-class>
        <function-signature>java.lang.String getDiff(java.util.Date)</function-signature>
    </function>
</taglib>
